extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  
  div.main_wrap
      section.intro_wrap intro_wrap
      section.signup_wrap
        div
          h3 Sign up and Start pubishing now.
          a.signup_highlighted(href='/signup')
            h4 Get Started
          p Find interesting topics, connect to your friends, and start a blog in seconds.
      section.signin_wrap
        div
          h3 Already Signing? Sign In.
          form#loginForm(action='/process', method='post', novalidate='novalidate')
            input#loginEmail(type='email', name='loginEmail', placeholder='Email or Username', autocorrect='off', autocapitalize='off', spellcheck='false')
            input#loginPwd(type='password', name='loginPwd', placeholder='Password')
            input#loginRemember(type='checkbox', name='loginRemember', value='forever', checked='true')
            label(for='loginRemember') Remember me
            input#loginAuth(type='hidden', name='loginAuth')
            input(type='submit', value='Sign in')
      footer.footer_wrap
        h3 Copyright&copy MadCatStudio All Right Reserved.
  
  script
    $(document).ready(function() {
    
      var account = $.cookie('account');
      var auth = $.cookie('auth');
      
      // 쿠키 값이 존재할 경우,
      if((account !== 'null' && auth !== 'null') && (typeof account !== "undefined" && typeof auth !== "undefined")) {
      
        $('#loginEmail').val(account);
        $('#loginAuth').val(auth);
        
        $('#loginForm').submit();
        
      } 
      // 쿠키 값이 존재하지 않을 경우,
      else {
        
        var socket = io.connect('/loginSocket');
        var checkRemember =  $('.signin_wrap').contents().find(':checkbox');
        var loadChecked = $.cookie('checked');
        
        // 아이디 기억 체크박스에 사용하는 쿠키 초기화
        if(typeof loadChecked === 'undefined' || loadChecked === 'null') {
          $.cookie('checked', false);
        }
        
        // 쿠키 값에 따른 아이디 기억 체크 박스 설정
        if($.cookie('checked') === 'true') {
          checkRemember.attr('checked', true);
          $('#loginEmail').val(account);
        } else {
          checkRemember.attr('checked', false);
        }

        // 아이디 기억 체크 박스 값이 변경될 때 마다, 쿠키에 저장
        checkRemember.bind('change', function() {
          $.cookie('checked', this.checked);
        });
        
        // Sign In 버튼을 클릭 했을 경우,
        $('#loginForm').submit(function(event) {
          event.preventDefault();
    
          var account = $('#loginEmail').val();
          var pwd = $('#loginPwd').val();
          var shaPwd = CryptoJS.SHA256(pwd).toString();
          
          // 이메일과 암호를 입력하였을 경우,
          if(account.length > 0 && pwd.length > 0) {
            socket.emit('login', {account:account, pwd:shaPwd}, function(result) {
      
              var status = result.status;
              var data = result.data;
            
              switch(status) {
                case 100:  // 로그인 성공 시, (status:100, data:authkey)
                  $.cookie('account', account, {expires:365});
                  $.cookie('auth', data, {expires:1});
                  
                  $('#loginEmail').val(account);
                  $('#loginAuth').val(data);
                  
                  var target = event.target;
                  target.submit();
                  
                  socket.disconnect();
                  socket.close();
            
                  break;
        
                case 101:  // 로그인 실패 (회원이 존재하지 않음)
                  alert('존재하지 않는 회원입니다. 회원 가입 뒤 이용해 주세요.');
          
                  doClearValue('loginEmail');
                  doClearValue('loginPwd');
          
                  break;
          
                case 102:  // 로그인 실패 (암호가 틀렸을 경우)
                  alert('비밀번호가 틀렸습니다. 비밀번호를 확인 뒤 로그인 해 주세요.');
          
                  doClearValue('loginPwd');
          
                  break;
        
                case 103:  // 로그인 실패 (인증키가 유효하지 않을 경우)
                  alert('인증키가 유효하지 않습니다. 다시 로그인 해 주세요.');
          
                  doClearValue('loginEmail');
                  doClearValue('loginPwd');
                  break;
              }
            });
          } 
        });
      }
  
      // id 에 해당하는 값을 초기화 하는 함수
      function doClearValue(id) {
        $('#' + id).val('');
      }
    });
      