doctype 5
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0') 
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/javascripts/jquery.cookie.js')
    script(src='/javascripts/sha256.js')
  body
    block content