extends layout

block content
  link(rel='stylesheet', href='/stylesheets/memo.css')
  
  - if (status == 501)
    form(action='/process', method='POST')#reqForm
      input(type='hidden', name='loginEmail')#loginEmail
      input(type='hidden', name='loginAuth')#loginAuth
    script
      var account = $.cookie('account');
      var auth = $.cookie('auth');
      
      $('#loginEmail').val(account);
      $('#loginAuth').val(auth);
      
      $('#reqForm').submit();
      
  - else if (status == 500)
    div.top_wrap
      div.top_info
        span#top_account=data
        span#top_setting 설정
        span#top_logout 로그아웃
    div.main_wrap
      section.write_wrap
        div#write_header
          span 메모작성
          button#write_confirm 완료
        div#write_memo_wrap
          textarea#write_memo(placeholder='메모 입력...', aria-multiline='true', maxlength='9999', rows='1', spellcheck='true')
      section.tool_wrap
        div#tool_view
          div 
            p L
          div 
            p G
        button#tool_search Search
        span
          input#tool_search_input(type='text')
      section.memo_wrap
      
    script
      $(document).ready(function() {
        // 전역 변수 선언
        var socket = io.connect('/memoSocket');
        var date = new Date();
        
        var account = $('#top_account').text();
        var auth = $.cookie('auth');
        
        var memoSection = $('.memo_wrap');
        
        var tempMemoContent;
        
        // 메모들의 높이를 자동으로 설정
        initMemoHeight($('#write_memo'));
        
        /*
         * 소켓 이벤트 발생 시, 이벤트를 처리하는 함수
         *
         */
        
        // 서버와 접속에 성공했을 시, 메모 목록을 불러온다.
        socket.on('connect', function() {
          socket.emit('requestMemos', {account:account, auth:auth}, function(results) {
            doResponseStatus(results);
          });
        });
        
        // 메모 작성 버튼 클릭 시, (메모 삽입)
        $('#write_confirm').click(function(event) {
          insertMemoToDB();
        });
        
        // 메모 작성 레이아웃의 포커스를 벗어났을 경우, (메모 삽입)
        $('#write_memo').focusout(function() {
          insertMemoToDB();
        });
        
        // 메모 작성 레이아웃의 높이를 실시간으로 설정한다.
        $('#write_memo').keyup(function() {
          initMemoHeight($(this));
        });
        
        // 메모 검색 버튼 클릭 시,
        $('#tool_search').click(function(event) {
          searchMemoList();
        });
        
        // 메모 검색 값이 변경 되었을 시,
        $('#tool_search_input').keyup(function() {
          searchMemoList();
        });
        
        // 로그아웃 버튼 클릭 시,
        $('#top_logout').click(function() {
          socket.emit('logout', {account:account, auth:auth}, function(results) {
            doLogout();
          });
        });
        
        // 메모 검색 값에 따라 메모 목록을 변경하는 함수
        function searchMemoList() {
          var keyword = $('#tool_search_input').val();
          
          // 검색 값을 입력했을 경우,
          if(keyword.length > 0) {
            $('.memo_window').each(function(i, j) {
              var str = $(this).find('.memo_area').val();
              
              $(this).hide();
              
              if(str.toLowerCase().indexOf(keyword) >= 0) {
                $(this).show();
              }
            });
          }
          // 검색 값을 입력하지 않았을 경우,
          else {
            $('.memo_window').show();
          }
        }
        
        // 데이터베이스에 메모를 저장하는 함수
        function insertMemoToDB() {
          var content = $('#write_memo').val();
          
          if(content.length > 0) {
            socket.emit('writeWebMemo', {account:account, auth:auth, data:content}, function(results) {
              doResponseStatus(results);
            });
          } 
        
          // 작성 하던 메모 값 초기화
          doClearValue('write_memo');
        }
        
        // id 에 해당하는 값을 초기화 하는 함수
        function doClearValue(id) {
          $('#' + id).val('');
        }
        
        // 서버에 응답되어 돌아온 JSON Response 를 파싱하여, Status 에 맞게 처리하는 함수 {status:응답코드, data:처리데이터}
        function doResponseStatus(jsonRes) {
          var status = jsonRes.status;
          var data = jsonRes.data;
          
          switch(status) {
            // 메모 쓰기,수정,삭제 성공, 메모 불러오기 성공
            case 310:  // 메모 쓰기 성공, 불러오기 성공
            case 320:  // 메모 삭제 성공, 불러오기 성공
            case 330:  // 메모 수정 성공, 불러오기 성공
            case 340:  // 메모 불러오기 성공
              doUpdateMemoList(data);
              break;
            
            case 311:  // 메모 작성 성공, 메모 불러오기 실패
              break;
            
            case 312:  // 메모 작성 실패,
              break;
              
            case 331:  // 메모 수정 성공, 메모 불러오기 실패
              break;
              
            case 332:  // 메모 수정 실패
              break;
              
            case 321: // 메모 삭제 성공, 메모 불러오기 실패
              break;
          
            case 341: // 메모 불러오기 실패
              
              break;
              
            case 103: // 인증키가 유효하지 않을 경우,
              doLogout();
              break;
          }
        }
        
        // 로그아웃을 한 뒤, 메인 페이지로 이동한다.
        function doLogout() {
          $.cookie('auth', null);
        
          $('<form action="/process" method="POST">' + 
            '<input type="hidden" name="loginEmail" value=' + account + '</input>' + 
            '<input type="hidden" name="loginAuth" value=' + auth + '</input>').appendTo('body').submit();
        }
        
        // UnixTime 을 String 형태로 변환하는 함수
        function timeStampToString(unixTime) {
          var timestamp = parseInt(unixTime);
          date.setTime(timestamp);
          
          var year = date.getFullYear();
          var month = date.getMonth() + 1;
          var day = date.getDate();
          var hour = date.getHours();
          var min = date.getMinutes();
          
          return year + '. ' + month + '. ' + + day + ' [' + hour + ':' + min + ']';
        }
        
        // 메모들의 높이를 계산하여 적용하는 함수
        function initMemoHeight(memoArea) {
          memoArea.height(1).height(memoArea[0].scrollHeight + 20);
        }
        
        function setFocusOutline(id, isFocus) {
          // ABCCDD;
        
          // 해당 class 가 포커스가 되었을 경우, 아웃 라인을 표시
          if(isFocus) {
            $('#' + id).attr('style', 'outline:1px solid #ABCCDD');
          }
          // 해당 class 가 포커스를 잃었을 경우, 아웃 라인을 제거
          else {
            $('#' + id).attr('style', 'outline:none');
          }
        }
        
        // 메모 목록을 화면에 갱신하는 함수
        function doUpdateMemoList(jsonMemo) {
          memoSection.empty();
          
          $.each(jsonMemo, function(idx, memo) {
            var memoList = 
              '<div class="memo_window" id="memo_window_' + idx + '">' +
                '<div id="memo_' + idx + '">' +
                  '<textarea class="memo_area" id="memo_area_' + idx + '" aria-multiline="true" maxlength="9999" rows="1" spellcheck="true">' + memo.memo + '</textarea>' +
                  '<label class="memo_date" id="memo_data_' + idx + '">' + timeStampToString(memo.date) + '</label>' +
                  '<button class="memo_remove" id=' + memo._id + '>삭제</button>' +
                '</div>' +
              '</div>';
              
            memoSection.append(memoList);
            initMemoHeight($('#memo_area_' + idx));
          });
          
          // 메모가 Focus In, Out 되었을 시,
          $('.memo_area').focusin(function(event) {
            // 메모 삭제 버튼을 화면에서 제거
            var removeRightBtn = $(this).parent().parent().find('.memo_remove');
            removeRightBtn.hide();
            
            // Memo Window 에 Outline 표시
            var memoWindow = $(this).parent().parent().attr('id');
            setFocusOutline(memoWindow, true);
            
            // 기존의 메모 값을 임시 저장
            tempMemoContent = $(this).val();
          
            event.stopPropagation();
          }).focusout(function() {
          
            // 검색창에 입력값이 존재한다면, 초기화
            $('#tool_search_input').val('');
          
            // Memo Window 에 Outline 제거
            var memoWindow = $(this).parent().parent().attr('id');
            setFocusOutline(memoWindow, false);
          
            var content = $(this).val();
            
            // 메모 값이 변경 되었을 경우, (메모 수정 시)
            if(content !== tempMemoContent) {
              var memoId = $(this).parent().parent().find('.memo_remove').attr('id');
              
              socket.emit('modifyWebMemo', {account:account, auth:auth, data:{_id:memoId, memo:content}}, function(results) {
                doResponseStatus(results);
              }); 
            }
          });
          
          // 작성된 메모를 수정 중, 높이값을 실시간으로 계산하여 메모 높이를 수정한다.
          $('.memo_area').keyup(function() {
            initMemoHeight($(this));
          });
          
          // 메모 삭제를 클릭 했을 시,
          $('.memo_remove').click(function() {
            var id = $(this).attr('id');
            
            socket.emit('removeWebMemo', {account:account, auth:auth, data:[id]}, function(results) {
              doResponseStatus(results);
            });
          });
          
          // 메모 삭제 버튼 Show, Hide 설정
          // 메모 영역에 마우스가 Enter 되었을 경우, (삭제 버튼을 표시)
          $('.memo_area').mouseenter(function() {
            var removeRightBtn = $(this).parent().parent().find('.memo_remove');
            removeRightBtn.show();
          });
          
          // 메모를 Wrapping 한 Div 에 마우스가 Leave 되었을 경우, (삭제 버튼을 제거)
          $('.memo_window').mouseleave(function() {
            $(this).find('.memo_remove').hide();
          });
        }
      });
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      