extends layout

block content

  - if (status == 400)
    form(action='/memo', method='POST')#reqForm
      input(type='hidden', name='reqAccount', value=data)#reqAccount
    script
      $('#reqForm').submit();
  - else
    script
      $.cookie('auth', null);
      
      var addr = 'http://192.168.0.5:4000/';
      
      if(document.referrer == addr) {
        history.go(-1);
      } else {
        location.href = '/';
      }
