extends layout

block content
  link(rel='stylesheet', href='/stylesheets/signup.css')
  
  .main_wrap
    section.title_wrap Title Wrap
    section.form_wrap
      div
        form#signupForm(action='signup_proc', method='POST')
          label 구글 이메일
          input#signup_email(type='email', name='signup_email', placeholder='Google Email', autocorrect='off', autocapitalize='off', spellcheck='false')
          label 비밀번호
          input#signup_pwd(type='password', name='signup_pwd', placeholder='Password')
          label 비밀번호 확인
          input#signup_pwd_re(type='password', name='signup_pwd_re', placeholder='Password')
          input#terms_agree(type='checkbox', name='terms_agree', value='forever', checked='true')
          label(for='terms_agree') FastMemo 이용약관 및 개인정보 취급방침에 동의합니다.
          input(type='submit', value='Sign up')
    footer.footer_wrap
      h3 Copyright&copy MadCatStudio All Right Reserved.
      
  script
    $(document).ready(function() {
      // 전역변수 선언
      var socket = io.connect('/signupSocket');
      var elemTermsCheck = $('.form_wrap').contents().find(':checkbox');
      
      // 회원 가입 폼 초기화
      initSignupForm();
      
      $('#signupForm').submit(function(event) {
        event.preventDefault();
        
        var email = $('#signup_email').val();
        var pwd = $('#signup_pwd').val();
        var pwdRe = $('#signup_pwd_re').val();
        var shaPwd = CryptoJS.SHA256(pwd).toString();
        
        // 회원 가입 값이 전부 입력되었을 경우,
        if(email.length > 0 && pwd.length > 0 && pwdRe.length > 0) {
          // 사용자 암호를 8자리 이상 입력했을 경우,
          if(pwd.length > 7 && pwdRe.length > 7) {
            // 비밀번호와 비밀번호 확인 값이 일치할 경우,
            if(pwd === pwdRe) {
              var isChecked = elemTermsCheck.prop('checked');
            
              // 이용약관에 동의했을 경우, (회원 가입 요청)
              if(isChecked) {
                socket.emit('signup', {account:email, pwd:shaPwd}, function(results) {
                  var status = results.status;
                  
                  switch(status) {
                    case 200:  // 회원 가입 성공 시,
                      alert('회원 가입을 환영합니다. 로그인 뒤 이용해 주세요.');
                      
                      var addr = 'http://192.168.0.5:4000/';
                      
                      if(document.referrer == addr) {
                        history.go(-1);
                      } else {
                        location.href = '/';
                      }
                      
                      socket.disconnect();
                      socket.close();
                    
                      break;
                    
                    case 201:  // 잘못된 값을 서버로 전달 했을 시,
                      
                      break;
                    
                    case 202:  // 이미 가입된 회원,
                      alert('이미 가입 된 회원입니다. 다른 계정으로 가입 해 주세요.');
                      initSignupForm();
                      break;
                  }
                });
              }
              // 이용약관에 동의하지 않았을 경우,
              else {
                alert('이용약관에 동의해 주세요.');
              }
            }
            // 비밀번호와 비밀번호 확인 값이 일치하지 않을 경우,
            else {
              alert('비밀번호와 비밀번호 확인 값이 올바르지 않습니다.');
              
              doClearValue('signup_pwd');
              doClearValue('signup_pwd_re');
              
            }
          }
          // 사용자 암호가 7자리 이하일 경우,
          else {
            alert('비밀번호는 8자리 이상으로 입력해 주세요.');
          }
        }
        // 회원 가입 값이 하나라도 입력되지 않았을 경우,
        else {
          alert('회원 가입 목록을 전부 작성해 주세요.');
        }
      });
      
      // 회원 가입 폼을 초기화 하는 함수
      function initSignupForm() {
        elemTermsCheck.attr('checked', false);
      
        doClearValue('signup_email');
        doClearValue('signup_pwd');
        doClearValue('signup_pwd_re');
      }
      
      // id 에 해당하는 값을 초기화 하는 함수
      function doClearValue(id) {
        $('#' + id).val('');
      }
      
      
    });
    
    
    
    
    
    
    
    
    
    
    
    
    
    