*	{
	margin: 0;
	padding: 0;
}

html	{
	font-size: 62.5%;
}

section, footer	{
	display: block;
}

.main_wrap	{
	position: absolute;
	width: 1040px;
	height: 380px;
	margin-left: -520px;
	margin-top: -190px;
	left: 50%;
	top: 50%;
	background: #DDD;
}

.intro_wrap	{
	float: right;
	width: 700px;
	height: 345px;
	background: #AAA;
}

.signup_wrap	{
	width: 340px;
	height: 120px;
	background: #BBB;
}

.signup_wrap div	{
	padding: 20px; padding: 2.0rem;
}

.signup_wrap h3 /* Signup title */	{
	display: block;
	width: 100%;
	padding-bottom: 5px;
	height: auto;
	font-size: 18px; font-size: 1.8rem;
	font-weight: 800;
	text-align: center;
}

.signup_wrap .signup_highlighted	 {	/* Signup Button */
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 10px 0px;
	padding: 10px 0;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	font-size: 22px;
	font-weight: 800;
	color: #FFF;
	background-color: #F1831E;
	
	border: 1px solid #rgba(0,0,0,0.05);
	border-radius: 2px;
	border-top-color: rgba(0,0,0,0.1);
	border-bottom-color: rgba(0,0,0,0.15);
	
	background-image: linear-gradient(to bottom, #ff8b20 0%,#f1831e 100%);
	background-image: -moz-linear-gradient(top, #ff8b20 0%, #f1831e 100%);
	background-image: -webkit-linear-gradient(top, #ff8b20 0%,#f1831e 100%);
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.signup_wrap .signup_highlighted:hover	{
	background-color:#ff9636;
	background-image:-moz-linear-gradient(top, #FF9A1E 0%, #f1831e 100%);
	background-image:-webkit-linear-gradient(top, #FF9A1E 0%,#f1831e 100%);
	background-image:linear-gradient(to bottom, #FF9A1E 0%,#f1831e 100%);
}

.signup_wrap .signup_highlighted:active	{
	color:#fff;color:rgba(255,255,255,0.9);
	background-image:-moz-linear-gradient(top, #eb934d 0%, #f3722e 100%);
	background-image:-webkit-linear-gradient(top, #eb934d 0%,#f3722e 100%);
	background-image:linear-gradient(to bottom, #eb934d 0%,#f3722e 100%);
}

.signup_wrap p	{
	display: none;
	position: relative;
	margin-top: 30px;
	font-size: 16px; font-size: 1.6rem;
}

.signin_wrap	{
	width: 340px;
	height: 225px;
	background: #FFF;
}

.signin_wrap div	{
	padding: 20px;
}

.signin_wrap h3	{
	font-size: 18px; font-size: 1.8rem;
	margin-bottom: 14px; margin-bottom: 1.4rem;
	vertical-align: baseline;
}

.signin_wrap input[type=email], .signin_wrap input[type=password]	{
	background:#fcfcfc;
	border:1px solid #ccc;
	border-radius:0;
	font-size:22px; font-size:2.2rem;
	margin-bottom:14px; margin-bottom:1.4rem;
	padding:9px 16px 12px 9px;
	padding:0.9rem 1.6rem 1.0rem 0.9rem;
	width:100%;
	
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	
	-moz-box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1);
	box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1);
}

.signin_wrap input[type=checkbox]	{
	display: block;
	float: left;
	background: #FCFCFC;
	border:1px solid #bbb;
	border-radius:0;
	clear:none;
	cursor:pointer;
	line-height:14px;
	line-height:1.4rem;
	width:17px; width:1.7rem;
	height:17px; height:1.7rem;
	margin:10px 4px 2px 0;
	margin:1.0rem 0.4rem 0.2rem 0;
	text-align:center;
	vertical-align:middle;
	
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	
	-moz-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 1px 1px 2px rgba(0,0,0,0.1);

}

.signin_wrap input[type=checkbox]:checked:before	{
	color:#777;
	content: url("/images/check.png");
	display:inline-block;
	float:left;
	font:normal 18px/1 'Noticons';
	margin:0px 0 0 1.2px;
	vertical-align:middle;
	-webkit-font-smoothing:antialiased;
}

.signin_wrap label	{
	display: block;
	float: left;
	color: #888;
	cursor: pointer;
	font-size: 14px; font-size: 1.4rem;
	margin-top: 10.5px; margin-top: 1.05rem;
}

.signin_wrap input:hover+label	{
	color: #555;
}

.signin_wrap input[type=submit]	{
	display: inline-block;
	float: right;
	height: auto;
	background-color: #DDD;
	border: 1px solid rgba(0,0,0,0.05);
	border-top-color: rgba(255,255,255,0.1);
	border-bottom-color: rgba(0,0,0,0.15);
	border-radius: 2px;
	color: #333;
	cursor: pointer;
	font-size: 18px; font-size: 1.8rem;
	font-weight: 100;
	line-height: 24px;
	padding: .2em 0.6em 0.35em;
	text-align: center;
	text-decoration: none;
	background-image:-moz-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);
	background-image:-webkit-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);
	background-image:linear-gradient(to bottom, #f1f1f1 0%, #e5e5e5 100%);
}

.signin_wrap input[type=submit]:hover, button:hover {
	background-color: #F13E4C;
	background-image:-moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
	background-image:-webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
	background-image:linear-gradient(to bottom, #f7f7f7 0%, #e5e5e5 100%);
}

.signin_wrap input[type=submit]:active, button:active	{
	background-color:#eee;
	background-image:-moz-linear-gradient(top, #ddd 0%, #ccc 100%);
	background-image:-webkit-linear-gradient(top, #ddd 0%, #ccc 100%);
	background-image:linear-gradient(to bottom, #ddd 0%, #ccc 100%);
}

.footer_wrap	{
	height: 35px;
}

.footer_wrap h3	{
	font-size: 16px; font-size: 1.6rem;
	text-align: center;
	padding-top: 7.5px;
}

@media screen and (max-width: 1040px)	{
	.main_wrap	{
		position: absolute;
		width: 700px;
		height: 605px;
		margin-left: -350px;
		margin-top: -302.5px;
	}
	
	.intro_wrap	{
		float: none;
	}
	
	.signup_wrap	{	/* width: 350px */
		float: left;
		width: 340px;
		height: 225px;
		margin-right: 10px;
		background: #BBB;
	}
	
	.signup_wrap p	{
		display: block;
	}

	.signin_wrap	{	/* width: 350px */
		float: right;
		width: 340px;
		height: 225px;
		margin-left: 10px;
		background: #CCC;
	}
	
	.footer_wrap	{
		clear: both;
		height: 35px;
	}
}

@media screen and (max-width: 700px)	{
	.main_wrap	{
		position: relative;
		width: 100%;
		height: auto;
		margin: 20px 0 0 0;
		left: 0;
		top: 0;
	}
	
	.intro_wrap	{
		width: 100%;
	}
	
	.signup_wrap	{
		float: none;
		width: 100%;
		height: 225px;
		margin: 0;
	}
	
	.signup_wrap p	{
		text-align: center;
	}
	
	.signin_wrap	{
		float: none;
		width: 100%;
		height: 225px;
		margin: 0;
	}
}














