*	{
	margin: 0;
	padding: 0;
}

html	{
	font-size: 62.5%;
	background: #EEE;
}

section	{
	display: block;
}

.top_wrap	{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 30px;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	border-bottom: 1px solid #000;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	background: #2D2D2D;
	background-color: rgb(0,0,0,0.2);
	background-image: none;
}

.top_wrap .top_info	{
	display: inline-block;
	float: right;
	font-size: 15px;
	font-weight: 550;
	margin-top: 6px;
	margin-right: 10px;
	cursor: default;
}

.top_wrap .top_info span	{
	text-align: center;
	padding: 0 10px;
	cursor: pointer;
	color: #CCC;
}

.top_wrap .top_info span:hover	{
	color: #FFF;
}

.top_wrap .top_info span:active	{
	background-color: #4C4C4C;
	padding-top: 3px; padding-top: 0.3rem;
	padding-bottom: 4.5px; padding-bottom: 0.45rem;
	border-radius:
}

.main_wrap	{
	width: 720px;
	margin: 0 auto;
	margin-top: 45px; margin-top: 4.5rem;
	overflow: hidden;
}

.write_wrap	{
	display: block;
	width: 718px;
	height: 100%;
	border: 1px solid #CBCBCB;
}

.write_wrap #write_header	{
	display: block;
	padding: 10px 2.7% 0 7.5%; padding: 1.0rem 2.7% 0 7.5%;
}

.write_wrap #write_header span	{
	display: inline-block;
	font-size: 16px; font-size: 1.6rem;
	font-weight: 600;
	color: #333;
	line-height: 24px;
}

.write_wrap #write_header #write_confirm	{
	display: inline-block;
	float: right;
	margin-right: 5%;
	background-color:#ddd;
	border:1px solid rgba(0,0,0,0.05);
	border-top-color:rgba(255,255,255,0.1);
	border-bottom-color:rgba(0,0,0,0.15);
	border-radius:2px;
	color:#333;
	cursor:pointer;
	font-size:13px; font-size:1.3rem;
	font-weight:400;
	height:auto;
	line-height:1em;
	padding:.3em 0.6em 0.35em;
	text-align:center;
	text-decoration:none;
	background-image:-moz-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);background-image:-webkit-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);background-image:linear-gradient(to bottom, #f1f1f1 0%, #e5e5e5 100%);
}

.write_wrap #write_header #write_confirm:hover	{
	background-color:#eee;
	color:#000;
	background-image:-moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);background-image:-webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);background-image:linear-gradient(to bottom, #f7f7f7 0%, #e5e5e5 100%);
}

.write_wrap #write_header #write_confirm:active	{
	background-color:#eee;
	background-image:-moz-linear-gradient(top, #ddd 0%, #ccc 100%);background-image:-webkit-linear-gradient(top, #ddd 0%, #ccc 100%);background-image:linear-gradient(to bottom, #ddd 0%, #ccc 100%);
}

.write_wrap #write_memo_wrap	{
	width: 100%;
	overflow: hidden;
}

.write_wrap #write_memo_wrap #write_memo	{
	display: block;
	width: 84%;
	min-height: 118px;
	padding-left: 5px;
	padding-top: 5px;
	margin: 15px 7.5%;
	resize: none;
	font-size: 16px;
	cursor: pointer;
	overflow: hidden;
}


.write_wrap #write_memo_wrap #write_memo:focus	{
	cursor: text;
	outline:1px solid #ABCCDD
}

.tool_wrap	{
	height: auto;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #CBCBCB;
}

.tool_wrap #tool_view	{
	float: left;
	width: 58px;
	height: 26px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;
	
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	   -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	opacity: .55;
}

.tool_wrap #tool_view div	{
	float: left;
	width: 45%;
	height: 98%;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.tool_wrap #tool_view div:nth-child(odd)	{ /* 버튼이 클릭 된 상태 */
	width: 48%;
	border: 1px solid #CCC;
	
	background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
	background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
	background-image: linear-gradient(top,#eee,#e0e0e0);
	
}

.tool_wrap #tool_view div:nth-child(even)	{
	width: 42%;
}

.tool_wrap #tool_view div:hover	{
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);	
}

.tool_wrap #tool_view div:nth-child(odd):hover	{
	opacity: 1;	
	background: #E2E2E2;
}

.tool_wrap #tool_view div:nth-child(even):hover	{
	opacity: 1;	
	background: #F2F2F2;
}



.tool_wrap #tool_view div p	{
	margin-top: 4px;
}


.tool_wrap input[type=text]	{
	width: 100%;
	font-size: 16.2px; font-size: 1.62rem;
	background:#fcfcfc;
	border:1px solid #ccc;
	border-radius:0;
	padding:3px 8px 3px 6px;
	padding: 0.3rem 0.8rem 0.3rem 0.6rem;
	-webkit-appearance:none;-moz-appearance:none;appearance:none;
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
	-moz-box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1);-webkit-box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1);box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1);
}

.tool_wrap input[type=text]:focus	{
	outline:1px solid #ABCCDD
}

.tool_wrap #tool_search	{
	float: right;
	background-color:#ddd;
	border:1px solid rgba(0,0,0,0.05);
	border-top-color:rgba(255,255,255,0.1);
	border-bottom-color:rgba(0,0,0,0.15);
	border-radius:2px;
	color:#333;
	cursor:pointer;
	font-size:13px; font-size:1.3rem;
	font-weight:400;
	height:auto;
	line-height:1em;
	padding:.4em 0.6em 0.45em;
	text-align:center;
	text-decoration:none;
	background-image:-moz-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);background-image:-webkit-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);background-image:linear-gradient(to bottom, #f1f1f1 0%, #e5e5e5 100%);
}

.tool_wrap #tool_search:hover	{
	background-color:#eee;
	color:#000;
	background-image:-moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);background-image:-webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);background-image:linear-gradient(to bottom, #f7f7f7 0%, #e5e5e5 100%);
}

.tool_wrap #tool_search:active	{
	background-color:#eee;
	background-image:-moz-linear-gradient(top, #ddd 0%, #ccc 100%);background-image:-webkit-linear-gradient(top, #ddd 0%, #ccc 100%);background-image:linear-gradient(to bottom, #ddd 0%, #ccc 100%);
}

.tool_wrap span	{
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

.tool_wrap input[type=text], .tool_wrap button	{
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.memo_wrap	/* width: 700px, height: 186px */{
	display: block;
	width: 720px;
	margin-bottom: 20px;
}

.memo_wrap .memo_window	{
	display: inline-block;
	float: left;
	width: 84%;
	margin: 10px 0 5px 7.5%; margin: 1.0rem 0 0.5rem 7.5%;
	padding-left: 8px;
	border: 1px solid #CBCBCB;
	background: #FFF;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

.memo_wrap .memo_window:nth-last-child(1)	{
	margin-bottom: 20px;	
}

.memo_wrap .memo_window .memo_area	{
	display: block;
	width: 99%;
	min-height: 60px;
	margin-top: 5px; margin-top: 0.5rem;
	resize: none;
	overflow: hidden;
	border: none;
	cursor: pointer;
	font-size: 20px; font-size: 2.0rem;
}

.memo_wrap .memo_window .memo_area:focus	{
	cursor: text;
	outline: none;
}

.memo_wrap button	{
	margin-top: 10px;
	background-color:#ddd;
	border:1px solid rgba(0,0,0,0.05);
	border-top-color:rgba(255,255,255,0.1);
	border-bottom-color:rgba(0,0,0,0.15);
	border-radius:2px;
	color:#333;
	cursor:pointer;
	font-size:13px; font-size:1.3rem;
	font-weight:400;
	height:auto;
	line-height:1em;
	padding:.3em 0.6em 0.35em;
	text-align:center;
	text-decoration:none;
	background-image:-moz-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);background-image:-webkit-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);background-image:linear-gradient(to bottom, #f1f1f1 0%, #e5e5e5 100%);
}

.memo_wrap .memo_remove	{
	display: block;
	display: none;
	float: right;
	margin: 4px 10px 0 7.5%; margin: 0.4rem 1.0rem 0 7.5%;
}

.memo_wrap .memo_remove:hover	{
	background-color:#eee;
	color:#000;
	background-image:-moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);background-image:-webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);background-image:linear-gradient(to bottom, #f7f7f7 0%, #e5e5e5 100%);
}

.memo_wrap .memo_remove:active	{
	background-color:#eee;
	background-image:-moz-linear-gradient(top, #ddd 0%, #ccc 100%);background-image:-webkit-linear-gradient(top, #ddd 0%, #ccc 100%);background-image:linear-gradient(to bottom, #ddd 0%, #ccc 100%);
}

.memo_wrap .memo_date	{
	display: block;
	float: left;
	font-size: 12px; font-size: 1.2rem;
	margin-top: 10px; margin-top: 1.0rem;
	padding-left: 2px;
	padding-bottom: 10px;
}

@media screen and (max-width: 740px)	{
	.main_wrap	{
		width: 95%;
		padding: 0 2.5%;
		margin: 0 auto;
		margin-top: 45px; margin-top: 4.5rem;
	}
	
	.write_wrap	{
		width: 100%;
	}
	
	.tool_wrap	{
		width: 98.2%;
		padding: 5px 0.9%;
	}
	
	.memo_wrap	{
		width: 100%;
	}
	
	.memo_wrap .memo_window	{
		width: 84%;
	}
	
	.memo_wrap .memo_window #memo_date	{
		display: inline-block;
		clear: none;
		float: left;
		line-height: 20px;
		font-size: 12px; font-size: 1.2rem;
	}
}

@media screen and (max-width: 580px)	{
	.main_wrap	{
		width: 98%;
		padding: 0 1%;
	}
}









