*	{
	margin: 0;
	padding: 0;
}

html	{
	font-size: 62.5%;
}

section, footer	{
	display: block;
}

.main_wrap	{
	position: absolute;
	width: 500px;
	height: 830px;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -415px;
	background: #DDD;
}

.title_wrap	{
	height: 345px;
	background: #AAA;
}

.form_wrap	{
	height: 450px;
	background: #BBB;
}

.form_wrap div	{
	width: auto;
	padding: 20px;
	background: #CCC;
}

.form_wrap label	{
	display: block;
	margin-bottom: 10px; margin-bottom: 1.0rem;
	font-size: 22px; font-size: 2.2rem;
	font-weight: 800;
}

.form_wrap input[type=email], .form_wrap input[type=password]	{
	display: block;
	background:#fcfcfc;
	border:1px solid #ccc;
	border-radius:10px;
	font-size:22px; font-size:2.2rem;
	margin-bottom:14px; margin-bottom:1.4rem;
	padding:9px 16px 12px 9px;
	padding:0.9rem 1.6rem 1.0rem 0.9rem;
	width:100%;
	
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	
	-moz-box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1);
	box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1);
	
}

.form_wrap input[type=checkbox]	{
	display: inline-block;
	float: left;
	background: #FCFCFC;
	border:1px solid #bbb;
	border-radius:0;
	clear:none;
	cursor:pointer;
	width:17px; width:1.7rem;
	height:17px; height:1.7rem;
	margin-top: 5px; margin-top: 0.5rem;
	margin-right: 10px; margin-right: 1.0rem;
	text-align:center;
	vertical-align:middle;
	
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	
	-moz-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 1px 1px 2px rgba(0,0,0,0.1);
}

.form_wrap input[type=checkbox]:checked:before	{
	color:#777;
	content: url("../images/check.png");
	display:inline-block;
	float:left;
	font:normal 18px/1 'Noticons';
	margin:0px 0 0 1.2px;
	vertical-align:middle;
	-webkit-font-smoothing:antialiased;
}

.form_wrap label[for=terms_agree]	{
	display: inline-block;
	font-size: 13px;
	font-weight: 300;
	margin-top: 6px;
}

.form_wrap input[type=submit]	{
	display: block;
	width: 420px;	
	margin: 1.6rem 2.0rem 0 2.0rem;
	
	height: auto;
	background-color: #DDD;
	border: 1px solid rgba(0,0,0,0.05);
	border-top-color: rgba(255,255,255,0.1);
	border-bottom-color: rgba(0,0,0,0.15);
	border-radius: 2px;
	color: #333;
	cursor: pointer;
	font-size: 18px; font-size: 1.8rem;
	font-weight: 100;
	line-height: 24px;
	padding: .4em 0.6em 0.35em;
	text-align: center;
	text-decoration: none;
	background-image:-moz-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);
	background-image:-webkit-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);
	background-image:linear-gradient(to bottom, #f1f1f1 0%, #e5e5e5 100%);
}

.form_wrap input[type=submit]:hover, button:hover {
	background-color: #F13E4C;
	background-image:-moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
	background-image:-webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);
	background-image:linear-gradient(to bottom, #f7f7f7 0%, #e5e5e5 100%);
}

.form_wrap input[type=submit]:active, button:active	{
	background-color:#eee;
	background-image:-moz-linear-gradient(top, #ddd 0%, #ccc 100%);
	background-image:-webkit-linear-gradient(top, #ddd 0%, #ccc 100%);
	background-image:linear-gradient(to bottom, #ddd 0%, #ccc 100%);
}

.footer_wrap	{
	height: 35px;
	background: #EEE;
}

.footer_wrap h3	{
	font-size: 16px; font-size: 1.6rem;
	text-align: center;
	padding-top: 7.5px;
}

@media screen and (max-width: 700px)	{
	.main_wrap	{
		position: relative;
		width: 99%;
		height: auto;
		margin: 20px auto 0 auto;
		left: 0;
		top: 0;
	}
	
	.form_wrap input[type=submit]	{
		display: block;
		width: 80%;	
		margin: 0;
		margin: 0 10%;
		height: auto;
	}
	
	.form_wrap label[for=terms_agree]	{
		display: block;
		width: 100%;
		margin-left: 22px;
		margin-top: 20px;
	}

}











